
<h1>Welcome to your Financial Planner (Alpha)</h1>

<section class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/q5JWp47z4bY" 
  title="YouTube video player" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<hr class="hr1">

<section class="information">
    <h2>How this project was born?</h2> <br>
    <p>This project was created with the idea of helping other to start having a better undestanding of their finance,
      by creating a budged and getting free information related with personal finance, such as videos and blogs.
    </p>
  <br>
    <h2>Why would you use a Financial Planner?</h2> <br>
    <p>The subject of financial education is one that is underrated, many people don't seem important to learn how to spend and use money.
      We know it sucks to save money and not being able to buy whatever we want, but by being constant with saving money and spend more wisely,
      in a near future, we can be able to buy new stuff, and get even more money. That's the reason why we should use a Financial Planner.
    </p>
    <br>
</section>

<hr class="hr1">
  <h2>Meet the team!</h2>

<section class="team">
  <section>
    <img class="images" src="/img/Foto Carlos Brito.jpg" alt="Girl in a jacket" width="100" height="150">
    <h3>Meet Carlos Brito! 
      <br>
      He's an accountant and a programmer</h3>

</section>
<section>
  <img class= "images" src="/img/Foto de perfil.jpg" alt="Girl in a jacket" width="100" height="150">
  <h3>Meet Daniel Rubio!
    <br> 
    He's a Lawyer and a programmer</h3>

</section>
</section>



{{!-- {{#each products as |product|}}
<div class="financial_products">
  <h2>
    {{{category_name}}}
  </h2>
  <h2>
    {{{ticker_symbol}}}
  </h2>
  <h2>
    {{{capitalization}}}
  </h2>
  <h2>
    {{{circulating_stocks}}}
  </h2>
  <h2>
    {{{stock_price}}}
  </h2>
</div>
{{/each}} --}}