
<div class="row">
<div class="col-auto">
    <h2>Welcome, {{user_name}}!</h2>
  </div>

<h2>This is your Stock Inventory</h2>
<h3>Here you can see hoy many stocks you own, the entry price you got and the total inventory valuation (amazing, right?)</h3>
{{#each inventories as |inventory|}}
<div class="Inventory">

    <h2>{{product_id}} </h2>
   <h2> {{entry_price}} </h2>
    <h2>{{owned_stocks}} </h2>
    <h2>{{inventory_valuation}} </h2>
{{/each}}
</div>