
<div class="row">
<div class="col-auto">
    <h2>Welcome, {{user_name}}!</h2>
<div class="wallet">
 <h2>
   {{balance}}
    </h2>
     </div>
  </div>
{{#each products as |product|}}
<div class="financial_products">
  <h2>
    {{{category_name}}}
     {{{ticker_symbol}}}
    {{{capitalization}}}
    {{{circulating_stocks}}}
    {{{stock_price}}}
    <p><button>Add to Cart</button></p>
  </h2>
</div>
{{/each}}
{{#each inventories as |inventory|}}
<div class="Inventory">
 <h2>
   {{product_id}}
    {{entry_price}}
    {{owned_stocks}}
    {{inventory_valuation}}
    <p><button>Sell</button></p>
    </h2>
{{/each}}
</div>

<script src="/js/operations.js"></script>

</div>