<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user_name}}!</h2>
    
  </div>

  <div>
    <h2>This is the stock market! <br> (Click on "add to cart" to adquire new stocks)</h2>
  </div>
  {{#each products as |product|}}
  <div class="titles">
    
    <h3>Ticker</h3>
    <h3> Capitalization</h3>
    <h3>Circulating</h3>
    <h3>Price</h3>
    <h3>Buy</h3>
  </div>
  <div class="financial_products">
    
    <h2> {{{ticker_symbol}}} </h2>
    <h2> $ {{{capitalization}}} </h2>
    <h2> {{{circulating_stocks}}} </h2>
    <h2> $ {{{stock_price}}} </h2>
    <p><button class="financialbtn">Add to cart</button></p>
    </h2>
    
  </div>
  <hr class="hr1">
  {{/each}}
  {{#each inventories as |inventory|}}
  <div class="Inventory">
    <h2>
      {{product_id}}
      {{entry_price}}
      {{owned_stocks}}
      {{inventory_valuation}}
      <p><button class="buybtn">Sell</button></p>
      <div id="wallet-table"></div>
    <div>
    <h1>Sell your stocks!</h1>
    <form class="inventory-form">
    <h2>Sell:</h2>
    <input id = "sell" type="number">
</form>
<div class="btndiv">
    <button id = "selltBtn" type="submit"> Submit</button>
</div>
    </h2>
    </form>

    {{/each}}
  </div>

  <div id="operations-table"></div>

  <script>
    var tabledata = [
      { id: 1, Debit: {{ category_name }}, Credit: { { ticker_symbol } }, Balance: { { capitalization } },},
  
];

    //define table
    var table = new Tabulator("#operations-table", {
      data: tabledata,
      autoColumns: true,
    });
  </script>


  <script src="/js/operations.js"></script>

</div>